<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/0c01f2a5-bb0c-4f69-acf3-8313e2f77011/resourceGroups/Fall2024-Assignment1-cchall5-ResourceGroup/providers/Microsoft.Web/sites/Fall2024-Assignment1-cchall5</ResourceId>
    <ResourceGroup>Fall2024-Assignment1-cchall5-ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://fall2024-assignment1-cchall5.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://fall2024-assignment1-cchall5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Fall2024-Assignment1-cchall5</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>